body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.taste-matching-date-picker{
    display: flex;
    align-items: center;
    padding: 10px 24px;
    border-radius: 4px;
    background-color: var(--color-primary-white);
}
.base-label {
    font-size: 14px;
}
#taste-matching-date-picker{
    width: 180px;
    font-family: 'RichBlack';
    color: var(--color-primary-dark);
}
.taste-matching-content{
    flex: 1;
    margin: 12px 0 0;
    padding: 0 0 20px;
    border-radius: 4px;
    background-color: var(--color-primary-white);
    overflow-y: auto;
}

.section-title {
    margin: 12px 24px;
}

#firstClassPanel, #secondClassPanel{
    display: flex;
    height: 410px;
    margin: 0 24px;
    padding: 10px 16px 16px;
    border-radius: 4px;
}
#firstClassPanel{
    border: 1px solid var(--color-primary-blue)
}

#secondClassPanel{
    border: 1px solid var(--ui-green)
}

.second-class-section{
    margin: 24px 0 12px;
}

.panel{
   display: flex;
   flex-direction: column;
   flex: 1;
}


.pannel-title-container{
    display: flex;
    align-items: center;
    margin: 0 0 20px;
}

.panel-title {
    font-weight:600;
}

.first-panel-title {
    color: var(--color-primary-blue);
}


.second-panel-title {
    color: var(--ui-green);
}

.ingredient-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 16px 0 0;
    overflow-y: overlay;
}

.second-ingredient-wrapper{
    display: block;
}
.panel ::-webkit-scrollbar {
    display: block;
}

.first-panel:hover .ingredient-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary-blue);
}

.second-panel:hover .ingredient-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: var(--ui-green);
}

.classification-checkbox {
    width: 18px;
    height: 18px;
}

[is="ui-checkbox"]:checked {
    color: var(--color-primary-blue);
    background-color: var(--color-primary-blue);
}

.second-classification-checkbox:checked {
    color: var(--ui-green);
    background-color: var(--ui-green);
}

[is="ui-checkbox"]:focus {
    color: var(--color-primary-blue);
}

.second-classification-checkbox:focus {
    color: var(--ui-green);
}

.first-classification-checkbox:not(:disabled):checked:focus,
.first-classification-checkbox:not(:disabled):checked:hover {
    color: var(--color-primary-blue);
    background-color: var(--color-primary-blue);
}


.second-classification-checkbox:not(:disabled):checked:focus,
.second-classification-checkbox:not(:disabled):checked:hover {
    color: var(--ui-green);
    background-color: var(--ui-green);
}


.ingredient-item {
   font-size: 14px;
   padding: 2px 4px;
   cursor: pointer;
   border-radius: 2px;
   margin: 0 12px 12px 0;
}

.first-ingredient-item {
    color: var(--color-primary-blue);
    border: 1px solid var(--color-primary-blue);
}

.first-ingredient-item:hover {
    background-color: rgba(157, 168, 230, .2);
    color: var(--color-deep-dark);
}

.first-ingredient-item-selected {
    color: var(--color-primary-white);
    background-color: var(--color-primary-blue);
}

.second-ingredient-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    color: var(--ui-green);
    border: 1px solid var(--ui-green);
}

.second-ingredient-item:hover {
    background-color: rgba(89, 226, 153, 0.2);
    color: var(--color-deep-dark);
}

.second-ingredient-item-selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;
    color: var(--color-primary-white);
    background-color: var(--ui-green);
}

.productSuggestion{

}