
.taste-matching-date-picker{
    display: flex;
    align-items: center;
    padding: 10px 24px;
}
.base-label {
    font-size: 14px;
}
#taste-matching-date-picker{
    width: 180px;
    font-family: 'RichBlack';
    color: var(---color-primary-dark);
}