

#ingredientSelectContainer{
    position: relative;
}

.header-select-button {
    width: 180px;
}

#productTypeSelect {
    position: relative;
}

.content::-webkit-scrollbar {
    display: block;
}

.ingredient-select-panel-container{
    left: 393px;
    top: 50px;
}

.ingredient-select{
    width: 205px;
}

.product-trend, .brand-trend{
    width: 100%;
    height: 400px;
}
