body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.tool-bar{
    display: flex;
    align-items: center;
    padding: 10px 24px;
    border-radius: 4px;
    background-color: var(--color-primary-white);
}
.base-label {
    font-size: 14px;
}
#ingredient-track-date-picker{
    width: 180px;
    font-family: 'RichBlack';
    color: var(--color-primary-dark);
    margin-inline: 0 24px;
}

#ingredientSelectContainer{
    position: relative;
}

.content{
    flex: 1;
    margin: 12px 0 0;
    padding: 0 0 20px;
    border-radius: 4px;
    background-color: var(--color-primary-white);
    overflow-y: auto;
}

.section-title {
    margin: 24px;
}

.ingredient-select-panel-container{
    left: 400px;
    top: 50px;
}

.ingredient-select{
    width: 205px;
}

.product-trend, .brand-trend{
    width: 100%;
    height: 400px;
}
