.small-btn {
    font-size: 12px;
    padding: 4px;
    min-width: 60px;
}

.select-panel-container {
    position: absolute;
    margin-top: 6px;
    padding: 14px 20px;
    background-color: var(--color-primary-white);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    z-index: 9999;

}
.select-panel-item {
    margin-right: 12px
}

.select-panel-option-container {
    max-height: 260px;
    padding-inline: 0 6px;
    overflow-y: overlay;
}

.select-panel-option-container::-webkit-scrollbar {
    display: block;
}

.select-panel-item-title {
    margin: 12px 12px 12px 0;
    padding-inline: 6px;
    text-align: center;
}

.select-panel-option {
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 6px;
    cursor: pointer;
    text-align: center;
    margin-inline: 0 6px;
}

.select-option-container {
    flex-direction: column;
    max-height: 240px;
    overflow: auto;
    padding-inline: 4px;
}


.select-option-container::-webkit-scrollbar {
    display: block;
}


.select-option {
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 6px;
    cursor: pointer;
}

.select-panel-option:not(.option-active):hover{
    background-color: var(--color-background);
}

.select-option:not(.option-active):hover {
    background-color: var(--color-background);
}

.option-active {
    border:1px solid var(--ui-blue);
    border-radius: 2px;
    color:  var(--ui-blue);
    cursor: default;
}

.multi-select-option{
    display: flex;
    margin: 6px 0;
}

.multi-select-checkbox{
    margin: 0;
}

.multi-select-checkbox-label {
    flex: 1;
    margin: 0;
    padding-left: 6px;
    display: inline-block;
    cursor: pointer;
}

.multi-select-checkbox-label:hover{
    color: var(--ui-blue);
}

.multi-select-panel-footer{
    display: flex;
    justify-content: center;
    margin-block: 12px 8px;    
}
.multi-select-panel-footer button:first-child {
    margin-right: 30px;
}
