.small-btn {
    font-size: 12px;
    padding: 4px;
    min-width: 60px;
}

.header-select-button {
    width: 180px;
}

.select-panel-container {
    position: absolute;
    margin-top: 6px;
    padding: 14px 20px;
    background-color: var(--color-primary-white);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    z-index: 9999;

}
.select-panel-item {
    margin-right: 12px
}

.select-panel-option-container {
    max-height: 260px;
    padding-inline: 0 6px;
    overflow-y: overlay;
}

.select-panel-option-container::-webkit-scrollbar {
    display: block;
}

.select-panel-item-title {
    margin: 12px 12px 12px 0;
    padding-inline: 6px;
    text-align: center;
}

.select-panel-option {
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 6px;
    cursor: pointer;
    text-align: center;
    margin-inline: 0 6px;
}

.select-option-container {
    flex-direction: column;
    max-height: 240px;
    overflow: auto;
    padding-inline: 4px;
}

.select-option-container-group{
    max-width: 540px;
    overflow-x: overlay;
}

.select-option-container-group::-webkit-scrollbar {
    display: block;
    height: 6px;
    background-color: var(--color-background);
}

.select-option-container-group .select-panel-option-container {
    margin-bottom: 14px;
}


.select-option-container::-webkit-scrollbar {
    display: block;
}


.select-option {
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 6px;
    cursor: pointer;
}

.select-panel-option:not(.option-active):hover{
    background-color: var(--color-background);
}

.select-option:not(.option-active):hover {
    background-color: var(--color-background);
}

.option-active {
    border:1px solid var(--ui-blue);
    border-radius: 2px;
    color:  var(--ui-blue);
    cursor: default;
}

.base-multi-select-panel-container{
    width: 208px;
    left: 70px;
    top: 40px;
    padding: 6px;
}

.multi-select-option{
    display: flex;
    margin: 6px 0;
}

.multi-select-checkbox{
    margin: 0;
}

.multi-select-checkbox-label {
    flex: 1;
    margin: 0;
    padding-left: 6px;
    display: inline-block;
    cursor: pointer;
}

.multi-select-checkbox-label:hover{
    color: var(--ui-blue);
}

.multi-select-panel-footer{
    display: flex;
    justify-content: center;
    margin-block: 12px 8px;    
}
.multi-select-panel-footer button:first-child {
    margin-right: 30px;
}



.analyzer-loading {
    position: absolute;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
}
.analyzer-loading::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 0.5em;
    background-color: var(--color-primary-dark);
    -webkit-mask: var(--ui-loading-img);
    mask: var(--ui-loading-img);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    animation: spin 1s linear infinite;
    vertical-align: -4px;
}

.analyzer-loading::after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mask {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    border: 0;
    background-color: rgba(239, 241, 244, 0.4);
    overflow: auto;
    z-index: 9;
    place-items: center;
}