:root {
    --color-primary-dark: #4c5161;
    --color-deep-dark: #000;
    --color-primary-blue:#13227a;
    --color-primary-white: #fff;
    --color-background: #f0f0f0;
}
@font-face {
    font-family: "RichBlack";
    font-weight: 400;
    src: url("./92VCtsoqhtDTfM6BxmsNZ.woff2") format("woff2"),
        url("./92VCtsoqhtDTfM6BxmsNZ.woff") format("woff");
    font-display: swap;
}
html,body{
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: "RichBlack";
    background-color: var(--color-background);
}

ul,li {
    margin: 0;
    padding: 0;
}
li {
    list-style-type:none
}
a{
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
    width: 6px;
    background-color: var(--color-background);
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    /* 阴影 */
    -webkit-box-shadow: inset 0 0 6px rgba(6, 6, 6, 0.3);
    background-color: var(--color-primary-white);
}

/* 滚定条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: rgba(170, 170, 170, 0.8)
}

.mgr-12{
    margin-right: 12px;
}
.font-title{
    font-size: 16px;
    font-weight: bold;
    color: var(--color-deep-dark);
}
.hide {
    display: none;
}