:root {
    --color-primary-dark: #4c5161;
    --color-deep-dark: #000;
    --color-primary-blue:#13227a;
    --color-primary-white: #fff;
    --color-background: #f0f0f0;
}
@font-face {
    font-family: "RichBlack";
    font-weight: 400;
    src: url("./92VCtsoqhtDTfM6BxmsNZ.woff2") format("woff2"),
        url("./92VCtsoqhtDTfM6BxmsNZ.woff") format("woff");
    font-display: swap;
}
html,body{
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: "RichBlack";
    background-color: var(--color-background);
}

.iframe-body {
    display: flex;
    flex-direction: column;
}

ul,li {
    margin: 0;
    padding: 0;
}
li {
    list-style-type:none
}
a{
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
    width: 6px;
    background-color: var(--color-background);
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    /* 阴影 */
    -webkit-box-shadow: inset 0 0 6px rgba(6, 6, 6, 0.3);
    background-color: var(--color-primary-white);
}

/* 滚定条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: rgba(170, 170, 170, 0.8)
}

.body-header{
    display: flex;
    padding: 10px 24px;
    border-radius: 4px;
    background-color: var(--color-primary-white);
}

.header-item{
    display: flex;
    align-items: center;
}

.header-item:not(:last-child){
    margin-right: 28px;
}

.content{
    flex: 1;
    margin-block: 20px 0;
    border-radius: 4px;
    overflow-y: auto;
}

.content > section {
    margin-block: 0 20px;
    padding: 16px 24px;
    border-radius: 4px;
    background-color: var(--color-primary-white);
}

.content > section:last-child{
    margin-bottom: 0;
}

.base-date-picker {
    width: 180px;
    font-family: 'RichBlack';
    color: var(--color-primary-dark);
}

.mgr-12{
    margin-right: 12px;
}
.title{
    font-size: 16px;
    font-weight: bold;
    color: var(--color-deep-dark);
}
.hide {
    display: none;
}

.text-title {
    font-size: 14px;
    font-weight: bold;
    color: var(--color-primary-dark)
}

.text {
    font-size: 14px;
    color: var(--color-primary-dark);
}

.select-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cpath fill='%232a80eb' d='M145.659 68.949a12.874 12.874 0 0 0-18.473 0L99.479 97.233 71.772 68.949a12.874 12.874 0 0 0-18.473 0c-5.099 5.208-5.099 13.648 0 18.857l46.18 47.14 46.181-47.14c5.099-5.208 5.099-13.649-.001-18.857z'/%3E%3C/svg%3E")
        no-repeat center;
    background-size: 20px 20px;
    right: 7px;
    top: 10px;
}

.cursor-default{
    cursor: default;
}

.empty-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-text {
    margin: 20px 0 0;
    color: var(--color-primary-dark);
}
