#ingredientClassSelect,#productTypeSelect {
    position: relative;
}

.ingredient-select-panel-container {
    left: 72px;
    top: 35px;
}


.ingredient-select {
    width: 152px;
}

.ingredient-matrix{
    width: 100%;
    height: 600px;
}